header {
    background-color: rgba(7, 85, 175, 0.507);
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


body {
    font-family: "Roboto", serif;
    font-weight: 400;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.highlight {
    color: #000080;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}



nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #fff;
    text-decoration: underline;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.card {
    display: flex;
    align-items: center;
}

#box1 {
    height: 700px;
    width: 1180px;
    font-size: 30px;
    margin-right: 10px;
    margin-left: 20px;
    border: 3px solid gray;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    justify-self: left;


}

#box2 {
    height: 700px;
    width: 650px;
    font-size: 30px;
    border: 3px solid gray;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    justify-self: right;


}

#h2a {
    background-color: rgba(7, 85, 175, 0.507);
    border-radius: 7px;
    transform: translateY(-26px);
}

#h2b {
    background-color: rgba(7, 85, 175, 0.507);
    border-radius: 7px;
    transform: translateY(-26px);
}

#paragraph1 {
    text-align: justify;
    max-width: 900px;
    font-size: x-large;
    font-weight: 500;
    margin-left: 20px;
}

#mypic {
    border: 1px solid rgb(98, 103, 136);
    padding: .5rem;
    width: 150px;
    display: block;
    position: relative;
    top: -20%;
    left: 80%;
}

#flag {
    border: 1px solid rgb(98, 103, 136);
    padding: .5rem;
    width: 150px;
    display: block;
    position: relative;
    top: 1%;
    left: 1%;
}

#h1denton {

    transform: translateY(-270px);
    border-bottom: 1px solid black;
}

#flagtext {
    font-size: medium;
    font-style: oblique;
    text-align: justify;
    text-indent: 0px;
    margin-left: 18px;
    transform: translateY(-70px);
}

#paragraph2 {
    text-align: justify;
    text-indent: 0px;
    max-width: 900px;
    font-size: x-large;
    font-weight: 500;
    margin-left: 250px;
    transform: translateY(-300px);
}

ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
}



ul a {
    color: blue;
    padding: 1rem;
    text-decoration: none;
}

ul a:hover {
    border: 1px solid #fff;
    text-decoration: underline;
}



#year {
    margin: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.75rem;
    background-color: #eee;
    text-align: center;
}

#modified {
    margin: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.75rem;
    background-color: #eee;
    color: navy;
    text-align: center;
}